<table>
    <thead>
        <tr>
            {{ head }}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr class="{% cycle 'odd' 'even' %}">
            {{ row }}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Last updated at {% now "h:m:s a" %}</p>
{% if object_list.page.has_previous %}
    <a class="next" href="{{ paginate_url }}?{{ paginate_key }}={{ object_list.page.previous_page_number }}">Previous</a>
{% endif %}

{% for page in object_list.jump.pages_bit %}
    {% if object_list.jump.start_ellipsis and forloop.first %}...{% endif %}
    {% ifequal page object_list.page.number %}
        {{ page }}
    {% else %}
        <a href="{{ paginate_url }}?{{ paginate_key }}={{ page }}" class="page">{{ page }}</a>
    {% endifequal %}
    {% if object_list.jump.end_ellipsis and forloop.last %}...{% endif %}
{% endfor %}

{% if object_list.page.has_next %}
    <a class="next" href="{{ paginate_url }}?{{ paginate_key }}={{ object_list.page.next_page_number }}">Next</a>
{% endif %}
