<td><a href="{{ object.get_absolute_url }}">{{ object.ref_id }}</a></td>
<td>{{ object.first_name }} {{ object.last_name }}</td>
<td>{{ object.get_status_display }}</td>
<td>{{ object.provider }}</td>
<td>{{ object.report_set.latest.muac }}</td>
<td>{{ object.report_set.latest.height }}</td>
<td>{{ object.report_set.latest.weight }}</td>                                                                        
<td>{{ object.report_set.latest.get_observed_display }}</td>                                                                                    
