<td><a href="{{ object.get_absolute_url }}">{{ object.user }}</a></td>
<td>{{ object.mobile }}</td>
<td>{{ object.role }}</td>
<td>{{ object.active }}</td>                                                                        
<td>{{ object.alerts }}</td>                                                                                    
<td>{{ object.clinic }}</td>                                                                                    
<td>{{ object.manager }}</td>                                                                                                            
