<table>
    <thead>
        <th>Date</th>
        <th>MUAC</th>
        <th>Height</th>
        <th>Weight</th>
        <th>Observations</th>
        <th>MUAC</th>
        <th>Weight</th>
        <th>Height</th>
        <th>Symptoms</th>
    </thead>
    <tbody>
        {% for report in report_object_list.page.object_list %}
        <tr>
            <td>{{ report.entered_at }}</td>
            <td>{{ report.muac }}</td>
            <td>{{ report.height }}</td>
            <td>{{ report.weight }}</td>                                                                        
            <td>{{ report.get_observed_display }}</td>                                                                                    
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Last updated at {% now "h:m:s a" %}</p>
{% include "paginator.html" %}