{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<h2>Active Cases</h2>
<div id="activecases">
{% include "includes/activecases.html" %}
</div>
<h2>Event Log</h2>
<p class="error">To come</p>
<h2>Alerts</h2>
<p class="error">To come</p>
<h2>Case summary</h2>
{% include "includes/casesummary.html" %}
<h2>Message users</h2>
{% include "includes/sendmessage.html" %}
<h2>Search</h2>
<form method="get" action="/search/">
    <input type="search" name="q" />
</form>
{% block javascripts-bottom %}
    <script type="text/javascript">
        /*
        function reload() {
            $('#message-log').load('/ajax/message-log/');  
            setTimeout(reload, 10000);
        }                             
        $(document).ready(reload);
        */
    </script>    
{% endblock %}

{% endblock %}
