{% extends "layout.html" %}
{% block title %}Providers{% endblock %}

{% block breadcrumbs %}
    <a href="/">{{app.name}}</a>
    &raquo; <a href="/providers/">Providers</a>
    &raquo; {{ object.user }}
{% endblock %}

{% block content %}

<h2>{{ object.user.first_name }} {{ object.user.last_name }}</h2>
<p><a href="/case/edit/{{ object.id }}/">Edit this case</a></p>
<table>
    <tr><td>Mobile:</td><td>{{ object.mobile }}</td></tr>
    <tr><td>Role:</td><td>{{ object.role }}</td></tr>
    <tr><td>Active:</td><td>{{ object.active }}</td></tr>        
    <tr><td>Alerts:</td><td>{{ object.alerts }}</td></tr>        
    <tr><td>Clinic:</td><td>{{ object.clinic }}</td></tr>                
    <tr><td>Manager:</td><td>{{ object.manager }}</td></tr>                    
</table>

<h2>Cases</h2>
{{ cases }}

<h2>Message Log</h2>
{{ messages }}

<h2>Event log</h2>
{{ event }}

{% endblock %}
