{% extends "layout.html" %}
{% block title %}Providers{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <a href="/">MCTC</a>
    &raquo; <a href="/providers/">Providers</a>
    &raquo; {{ object.user }}
</div>
{% endblock %}

{% block content %}

<h2>Active Cases</h2>
{% include "includes/activecases.html" %}

<h2>Message Log</h2>
{% include "includes/messagelog.html" %}

<h2>Inactive Cases</h2>
<p>To do figure out redefine variables in template</p>

<h2>Event log</h2>
<p class="notice">To come</p>

<h2>Counter</h2>
<p class="notice">To come</p>
{% endblock %}
